    @font-face {
        font-family: 'Figtree';
        font-weight: 100 900;
        font-style: normal;
        src: url('../fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    }

    :root {
        --Yellow: hsl(47, 88%, 63%);
        --White: hsl(0, 0%, 100%);
        --Gray-500: hsl(0, 0%, 42%);
        --Gray-950: hsl(0, 0%, 7%);



        --font-tiny: clamp(9px, 0.8vw, 11px);
        /* Entre 9px et 11px selon la taille de l'écran */
        --font-small: clamp(12px, 1.2vw, 14px);
        /* Entre 12px et 14px selon la taille de l'écran */
        --font-medium: clamp(14px, 2vw, 16px);
        /* Entre 14px et 16px */
        --font-large: clamp(20px, 4vw, 24px);
        /* Entre 20px et 24px */
    }

    /* Réinitialisation des styles par défaut */
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

    body {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--Yellow);
        font-family: 'Figtree', system-ui, sans-serif;
        /* Ajout de la police de secours */
        min-height: 100vh;
        gap: 20px;
        /* Ajout du gap entre le contenu et le footer */
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: var(--White);
        border-radius: 20px;
        border: 1px solid var(--Gray-950);
        min-width: 20rem;
        /* Largeur minimale de 320px (20rem) */
        max-width: 24rem;
        /* Limite la largeur maximale de la carte à 384px (24rem) */
        padding: 24px;
        box-shadow: 8px 8px 0 var(--Gray-950);
        line-height: 1.5;
        /* 150% */
        gap: 24px;
    }

    .image_container img {
        display: block;
        border-radius: 10px;
        width: 100%;
    }

    .text_container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .learning_container {
        background-color: var(--Yellow);
        border-radius: 4px;
        width: fit-content;
        /* permet à l'élément de s'ajuster à la taille du contenu qu'il contient */
        padding: 4px 12px;
    }

    .category {
        font-size: 0.875rem;
        font-weight: 800;
    }

    .date {
        font-size: var(--font-small);
        font-weight: 500;
    }

    .card h2 a {
        color: var(--Gray-950);
        font-size: var(--font-large);
        font-weight: 800;
    }

    .card h2 a:hover {
        color: var(--Yellow);
        cursor: pointer;
    }

    .description {
        color: var(--Gray-500);
        font-size: var(--font-medium);
        font-weight: 500;
    }

    .author {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .author img {
        width: 32px;
        height: 32px;
    }

    .author p {
        color: var(--Gray-950);
        font-weight: 800;
        font-size: var(--font-small);
    }

    .attribution {
        font-size: var(--font-tiny);
        width: 100%;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }

    @media only screen and (max-width: 600px) {
        .card {
            width: 100%;
            max-width: 327px;
        }
    }